@media only screen and (max-width: 2000px) {
  #offering {
    padding: 100px;
  }
  .offering-card {
    padding: 10px;
  }
}
@media only screen and (max-width: 600px) {
  #offering {
    padding: 20px !important;
    border-width: 0px;
  }
  .offering-card {
    padding: 20px !important;
    margin: 5px !important;
    margin-bottom: 20px !important;
    min-height: 525px !important;
    border-width: 1px !important;
  }
  .offering-card img {
    height: 200px !important;
  }
}